.sass*
.gitconfig
*.orig
/lib
/apache-tomcat-6.0.28/
.classpath
.project
.settings/
.springBeans
target
bin
workspace
test-output
.iml
.idea
*.iml
*.ipr
*.iws
overlays/
ui/commerce/shop/overlays/
ui/commerce/backoffice/overlays/
overlays/
atlassian-ide-plugin.xml
.DS_Store
.~lock.*.csv*
.~lock.*.xls*
ui/shop/logs/
ui/backoffice/logs/
.gradle/
build/
gradle-app.setting
docs/shop-arch-doc/doc/
out/
logs/
coverage-error.log
rebel.xml
*.swp
hs_error*.log
test.xlsx
bower_components
node_modules
