<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3 th:text="#{spring.messages.index.registration}"></h3>
<form method="post" th:object="${registration}" th:action="@{/register}">
    <ul th:if="${#fields.hasErrors('*')}">
      <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>
    <label>
        E-Mail:
        <input th:required="true" name="email" type="text" th:value="*{email}" th:errorclass="error"/>
    </label>
    <label>
        Name:
        <input th:required="true" name="name" type="text" th:value="*{name}" th:errorclass="error"/>
    </label>
    <label>
        <input type="submit" value="Registrieren"/>
    </label>
</form>
</body>
</html>