<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3 th:text="#{spring.messages.index.password}"></h3>
<form method="post" th:object="${passwords}"  th:action="@{/register/{token}/password(token=${token})}">
    <ul th:if="${#fields.hasErrors('*')}">
      <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>
    <label>
        Passwort:
        <input th:required="true" name="password" type="text" th:value="*{password}" th:errorclass="error"/>
    </label>
    <label>
        Passwort (Bestätigung):
        <input th:required="true" name="passwordConfirm" type="text" th:value="*{passwordConfirm}"
               th:errorclass="error"/>
    </label>
    <label>
        <input type="submit" value="Speichern"/>
    </label>
</form>
</body>
</html>