<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>~~ %date %level [%thread] %logger{10} [%file:%line] [Corr-Id:%mdc{X-Correlation-Id}] 
                %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>